@model simpleReading.Models.Read
@{
    ViewData["Title"] = "Nova leitura";
}

<div class="text-center">
    <h4 class="display-4">Adicionar Leitura</h4>
</div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>

    <div class="form-group">
        <label asp-for="Author"></label>
        <input class="form-control" asp-for="Author" />
        <span asp-validation-for="Author"></span>
    </div>

    <div class="form-group">
        <label asp-for="Source"></label>
        <input class ="form-control" asp-for="Source" asp-format="{0:dd/MM/yyyy}"/>
        <label>Se for um livro físico, tente adicionar o link de onde comprá-lo(por exemplo, o link da amazom). Se não houver fonte, deixe em banco.</label>
        <span asp-validation-for="Source"></span>
    </div>

    <div class="form-group">
        <label asp-for="CreatedAt"></label>
        <input class="form-control" asp-for="CreatedAt" type="date"/>
        <label>Se for uma leitura passada, adicione uma data personalizada. Deixe em branco caso seja uma nova leitura.</label>
        <span asp-validation-for="Source"></span>
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Adicionar</button>
</form>

<br />
@if (TempData["ActionMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["ActionMessage"]
    </div>
}

