@page "/remover"
@rendermode InteractiveServer
@inject Service.BookService BookService

<PageTitle>Remover leitura</PageTitle>

<h1>Remover leitura</h1>

@if(BookService.GetBooks().Count() < 1)
{
    <h1>Lista de leituras vazia!</h1>
}

@foreach(var book in BookService.GetBooks())
{
    <div>
        <h3>Leitura: @book.Title</h3>
        <a>Id: @book.Id</a>
        <a>deseja remover essa leitura? </a>
        <button @onclick="() => BookService.RemoveBook(book.Id)">remover</button>
    </div>
    <br>
}