@using simpleReading.Extensions
@{
    ViewData["Title"] = "Home Page";
    var currentUser = Context.Session.GetObject<User>("currentUser");
}

@{
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (currentUser != null)
{
    <h3>Olá, @currentUser.Username!</h3>
}
