@page "/"
@using System.Text.Json
@using System.Text
@inject simpleReading.Wasm.Service.BookService BookService
@inject IJSRuntime JS

<PageTitle>Leituras</PageTitle>

@if(BookService.GetBooks().Count() < 1)
{
    <h1>Lista de leituras vazia!</h1>
}

@foreach(var book in BookService.GetBooks())
{
    <div>
        <h3>Leitura: @book.Title</h3>
        <a>Autor: @book.Author</a>
        <br>
        <a>Lído: @(book.Readed ? "Sim" : "Não")</a>
        <br>
    </div>
    <br>
}

@if (BookService.GetBooks().Count > 0)
{
    <input type="text" placeholder="nome do arquivo" @bind="fileName" >
    @if(string.IsNullOrWhiteSpace(fileName))
    {
        <a>adicione um nome ao arquivo!</a>
    }
    else
    {
        <button @onclick="SaveAsJson" >salvar como json</button>
        <button @onclick="DownloadJson">Baixar arquivo json</button>
    }
}

@formattedJson

<script>
    window.downloadJson = async (fileName, contentStreamReference) => {
      const arrayBuffer = await contentStreamReference.arrayBuffer();
      const blob = new Blob([arrayBuffer]);
      const url = URL.createObjectURL(blob);
      const anchorElement = document.createElement('a');
      anchorElement.href = url;
      anchorElement.download = fileName ?? '';
      anchorElement.click();
      anchorElement.remove();
      URL.revokeObjectURL(url);
    }
</script>

@code {

    private string savedJson = "";
    private string path = "";
    public static string fileName = "";
    private string formattedJson = "";

    public void SaveAsJson()
    {
        savedJson = JsonSerializer.Serialize(BookService.GetBooks());
        formattedJson = System.Text.Json.JsonSerializer.Serialize(JsonDocument.Parse(savedJson), new JsonSerializerOptions(){ WriteIndented = true});

        path = "wwwroot/jsons/" + fileName + ".json";
        using (StreamWriter sw = File.CreateText(path))
        {
            sw.Write(formattedJson);
        }
    }

    private async Task DownloadJson()
    {
        savedJson = JsonSerializer.Serialize(BookService.GetBooks());
        formattedJson = System.Text.Json.JsonSerializer.Serialize(JsonDocument.Parse(savedJson), new JsonSerializerOptions() { WriteIndented = true });

        byte[] fileInBytes = Encoding.ASCII.GetBytes(formattedJson);
        var fileStream = new MemoryStream(fileInBytes);

        using var streamRef = new DotNetStreamReference(stream: fileStream);

        await JS.InvokeVoidAsync("downloadJson", fileName + ".json", streamRef);        
    }
}
