@page "/editar"
@using simpleReading.Wasm.Service
@inject simpleReading.Wasm.Service.BookService BookService


<PageTitle>Leituras</PageTitle>

@if(BookService.GetBooks().Count() < 1)
{
    <h1>Lista de leituras vazia!</h1>
}
else
{
    <span>Buscar por id</span>
    <input type="number" min="0" @bind="id"/>

    <button @onclick="SearchRead">procurar leitura</button>
}


<br>
@if(book != null)
{
    <div>
        <a>Id: @book.Id</a>
        <h3>Leitura: @book.Title</h3>
        <a>Autor: @book.Author</a>
        <br>
        <a>Lído: @(book.Readed ? "Sim" : "Não")</a>
        <br>
    </div>
    <br>
    
    <h1>Atualizar Leitura</h1>
    <input type="text" @bind="title" placeholder="título"/>
    <br>

    <input type="text" @bind="author" placeholder="autor"/>
    <br>

    <span>Já lido? </span>
    <input type="checkbox" @bind="readed"/>

    <button @onclick="() => BookService.UpdateRead(new Book(title, author, readed), id)">atualizar leitura</button>
}

@code {
    private int id = 0;
    private Book book = null;

    private Book updatedBook = null;

    private string title = "";
    private string author = "";
    private bool readed = false;

    private void SearchRead()
    {
        book = BookService.GetBookById(id);
        title = book.Title;
        author = book.Author;
        readed = book.Readed;
    }
}
