@page "/atualizar"
@inject simpleReading.ReadService ReadService;
@inject Blazored.LocalStorage.ILocalStorageService localStorage;

<PageTitle>Atualizar</PageTitle>

<h1>Atualizar leitura</h1>

@if(ReadService.GetReads().Count() < 1)
{
    <h3>Lista de leituras vazia!</h3>
}
else
{
    <label>Insira o id</label>
    <input type="number" @bind="id" placeholder="buscar leitura" min="1" />
    <button @onclick="SearchRead">buscar</button>
    <br>
    <br>

    @if (searched)
    {

        <table>
            <tr>
                <th colspan="2" align="center"><input type="text" @bind="read.Title" /></th>
            </tr>
            <tr>
                <th>Autor</th>
                <th><input type="text" @bind="read.Author" /></th>
            </tr>
            <tr>
                <th>Lido</th>
                <th><input type="checkbox" @bind="read.Readed" /></th>
            </tr>
            <tr>
                <th>Fonte/Link</th>
                <th><input type="text" @bind="read.Author" /></th>
            </tr>
            <tr>
                <th>Id</th>
                <th>@read.Id</th>
            </tr>
        </table>
        <br>
        <button @onclick="Update">salvar</button>

        @if (updated)
        {
            <span>leitura atualizada</span>

        }
    }
    else
    {
        <span>@msgWarning</span>
    }
}

@code {

    private int id = 1;
    private Read read = new Read();
    private bool searched = false;
    private bool updated = false;
    private string msgWarning = "";

    private void SearchRead()
    {
        read = ReadService.GetReadById(id);
        if (read == null)
        {
            searched = false;
            msgWarning = "leitura não encontrada! Confirme o id.";
        }
        else
        {
            searched = true;
            msgWarning = "";
        }
    }

    private void Update()
    {
        ReadService.UpdateRead(read);
        localStorage.SetItemAsync("reads", ReadService.reads);
        updated = true;
    }
}
