@model simpleReading.Models.Read
@{
    ViewData["Title"] = "Nova leitura";
}

<h3>Nova leitura</h3>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>

    <div class="form-group">
        <label asp-for="Author"></label>
        <input class="form-control" asp-for="Author" />
        <span asp-validation-for="Author"></span>
    </div>

    <div class="form-group">
        <label asp-for="Source"></label>
        <input class ="form-control" asp-for="Source" />
        <span asp-validation-for="Source"></span>
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Adicionar</button>
</form>

