@using simpleReading.Extensions
@{
    ViewData["Title"] = "Leituras";
    var currentUser = Context.Session.GetObject<User>("logged_user");
}

<h3>Minhas leituras</h3>

@if (currentUser.Reads.Any())
{
    @foreach (var read in currentUser.Reads)
    {
        <br />
        <h3>@read.Author</h3>


        <a asp-controller="Read" asp-action="Delete" asp-route-id="@read.Id">deletar</a>
        <br />
    }
}
