@page "/adicionar"
@inject Service.BookService BookService
@rendermode InteractiveServer

<PageTitle>Leituras</PageTitle>

<h1>Adicionar nova leitura</h1>
<br>

<input type="text" @bind="title" placeholder="título"/>
<br>

<input type="text" @bind="author" placeholder="autor"/>
<br>

<span>Já lido? </span>
<input type="checkbox" @bind="readed"/>

<button @onclick="AddBook">adicionar leitura</button>

@code {
    
    private string title = "";
    private string author = "";
    private bool readed = false;

    private void AddBook()
    {
        if (!string.IsNullOrWhiteSpace(title) && !string.IsNullOrWhiteSpace(title))
        {
            Book book = new Book(title, author, readed);
            BookService.AddBook(book);

            title = "";
            author = "";
            readed = false;
        }
    }
}